@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&family=Source+Sans+Pro:wght@300;400;700&display=swap");
/* normalize */
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
}

input,
button,
textarea {
  font-family: inherit;
}

select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

button {
  cursor: pointer;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
  color: inherit;
}

img {
  width: 100%;
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/* general */
html {
  scroll-behavior: smooth;
}

body {
  color: #e9e7e7;
}

.container {
  max-width: 1240px;
  margin: 0 auto;
}

.title {
  font-family: "Montserrat", sans-serif;
  color: inherit;
  font-size: 3rem;
  line-height: 1.2;
  font-weight: 700;
  letter-spacing: 0.05em;
}

.title-center {
  text-align: center;
  margin-bottom: 20px;
}

.subtitle {
  font-family: "Montserrat", sans-serif;
  color: inherit;
  font-size: 1.5rem;
  line-height: 1;
  font-weight: 500;
  letter-spacing: 0.05em;
}

.regular {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.1rem;
  color: inherit;
  font-weight: 300;
  letter-spacing: 0.05em;
}

.arrowup {
  position: fixed;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  border-radius: 50%;
  width: 60px;
  height: 60px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #e9e7e7;
  border: solid #e9e7e7;
  font-size: 2.5em;
  margin: 0 auto;
  bottom: 20px;
  right: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 5;
}

.arrowup i {
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

.arrowup:hover {
  cursor: pointer;
}

.arrowup:hover i {
  -webkit-transform: translateY(5px);
          transform: translateY(5px);
}

.btn {
  background-color: #e9e7e7;
  color: #0c0b2a;
  border-radius: 20px;
  padding: 20px 10px;
  margin: 0 40px;
  -webkit-transition: padding 0.3s ease-in-out, margin 0.3s ease-in-out;
  transition: padding 0.3s ease-in-out, margin 0.3s ease-in-out;
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  line-height: 1;
  letter-spacing: normal;
  font-weight: 500;
  text-transform: uppercase;
}

.btn:hover {
  padding: 20px 50px;
  margin: 0;
}

.background {
  position: absolute;
  width: 100%;
  height: 100%;
}

.background img {
  height: 100%;
}

/* header*/
.header {
  top: 0;
  z-index: 2;
  width: 100%;
  position: fixed;
  z-index: 10;
}

.headeer__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.logo {
  -ms-flex-preferred-size: 400px;
      flex-basis: 400px;
  overflow-x: hidden;
  display: block;
  color: #e9e7e7;
}

.logo__inner {
  height: 100%;
  padding: 10px 0;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: -webkit-transform 1s ease-in-out;
  transition: -webkit-transform 1s ease-in-out;
  transition: transform 1s ease-in-out;
  transition: transform 1s ease-in-out, -webkit-transform 1s ease-in-out;
  background-color: rgba(0, 0, 0, 0.8);
  border-bottom: solid rgba(255, 255, 255, 0.7);
  border-left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "Montserrat", sans-serif;
  font-size: 2em;
  border-radius: 0 0 50px 0;
}

.logo__inner i {
  color: inherit;
  font-size: 60px;
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
  margin-right: 20px;
}

.mechanism {
  overflow: hidden;
  border: solid rgba(233, 231, 231, 0.8);
  border-top: 0;
  position: relative;
  z-index: 2;
  padding: 3.5px 0;
  background-color: #04123f;
  border-radius: 0 0 50px 50px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20%;
          flex: 0 0 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 -2%;
  min-width: 320px;
}

.background_mechanism {
  opacity: 0.1;
}

.background_mechanism img {
  height: auto;
}

.mechanism__item {
  color: inherit;
  font-size: 60px;
  -webkit-transition: -webkit-transform 1s ease-in-out;
  transition: -webkit-transform 1s ease-in-out;
  transition: transform 1s ease-in-out;
  transition: transform 1s ease-in-out, -webkit-transform 1s ease-in-out;
  margin-left: -5px;
}

.mechanism__item:nth-child(odd) {
  margin-top: 10px;
}

.mechanism__item:nth-child(even) {
  margin-bottom: 10px;
}

.nav {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 0px;
          flex: 1 1 0;
  overflow-x: hidden;
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
}

.nav__inner {
  height: 100%;
  padding: 10px 0;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform 1s ease-in-out;
  transition: -webkit-transform 1s ease-in-out;
  transition: transform 1s ease-in-out;
  transition: transform 1s ease-in-out, -webkit-transform 1s ease-in-out;
  background-color: rgba(0, 0, 0, 0.8);
  border-bottom: solid rgba(233, 231, 231, 0.7);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-size: 1.0em;
  border-radius: 0 0 0 50px;
}

.nav__item {
  color: inherit;
  overflow: hidden;
}

.nav__item:first-child {
  margin-left: 35px;
}

.nav__item::after {
  margin-top: 5px;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  display: block;
  content: "";
  width: 100%;
  height: 3px;
  background-color: #e9e7e7;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.nav__item:hover {
  cursor: pointer;
}

.nav__item:hover::after {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.burger {
  display: none;
  border-bottom: solid rgba(255, 255, 255, 0.7);
  background-color: rgba(0, 0, 0, 0.8);
}

.burger__inner {
  background: transparent;
  border: none;
  width: 80px;
  height: 80px;
  position: relative;
  z-index: 1000;
  -webkit-transition: -webkit-transform 0.8s;
  transition: -webkit-transform 0.8s;
  transition: transform 0.8s;
  transition: transform 0.8s, -webkit-transform 0.8s;
}

.burger__inner::before {
  content: "";
  position: absolute;
  margin: 0 20%;
  width: 60%;
  height: 2px;
  left: 0;
  top: 30%;
  background-color: #ffffff;
  -webkit-transition: top 0.5s ease-in-out, bottom 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
  transition: top 0.5s ease-in-out, bottom 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, top 0.5s ease-in-out, bottom 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, top 0.5s ease-in-out, bottom 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
}

.burger__inner::after {
  content: "";
  position: absolute;
  margin: 0 20%;
  width: 60%;
  height: 2px;
  left: 0;
  background-color: #ffffff;
  bottom: 30%;
  -webkit-transition: top 0.5s ease-in-out, bottom 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
  transition: top 0.5s ease-in-out, bottom 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, top 0.5s ease-in-out, bottom 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, top 0.5s ease-in-out, bottom 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
}

.burger__line {
  position: absolute;
  left: 0;
  top: 50%;
  margin: 0 20%;
  width: 60%;
  height: 2px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background-color: #ffffff;
  -webkit-transition: opacity 0.8s ease-in-out;
  transition: opacity 0.8s ease-in-out;
}

/* intro */
.intro {
  height: 100vh;
  background-color: #04123f;
}

.background_intro {
  opacity: 0.5;
  -o-object-fit: cover;
     object-fit: cover;
}

.intro__inner {
  padding: 0 5%;
  position: relative;
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: -30px;
}

.intro__img {
  margin: 0 30px;
  width: 575px;
}

.intro__img img {
  border-radius: 40px;
  border: solid #e9e7e7;
}

.intro__text {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 0px;
          flex: 1 1 0;
  min-width: 540px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.intro__text > p {
  margin-bottom: 2%;
}

.title_intro {
  font-size: 4rem;
  text-transform: uppercase;
}

/* about */
.about {
  border: solid rgba(233, 231, 231, 0.7);
  border-left: 0;
  border-right: 0;
  position: relative;
  background-color: #0c0b2a;
  overflow: hidden;
}

.aside {
  position: absolute;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.aside__item {
  z-index: 2;
  position: relative;
  width: 30%;
  -webkit-transition: -webkit-transform 1.0s ease-in-out;
  transition: -webkit-transform 1.0s ease-in-out;
  transition: transform 1.0s ease-in-out;
  transition: transform 1.0s ease-in-out, -webkit-transform 1.0s ease-in-out;
}

.aside__item:first-child {
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.aside__item:last-child {
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
}

.about__inner {
  position: relative;
  padding: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about__img {
  -ms-flex-negative: 1;
      flex-shrink: 1;
  width: 385px;
  height: 600px;
  margin-right: 30px;
  background-color: #0c0b2a;
  border-radius: 40px;
  padding: 20px;
  border: 2px solid rgba(255, 255, 255, 0.5);
  -webkit-transition: -webkit-transform 0.8s ease-in-out;
  transition: -webkit-transform 0.8s ease-in-out;
  transition: transform 0.8s ease-in-out;
  transition: transform 0.8s ease-in-out, -webkit-transform 0.8s ease-in-out;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
}

.about__text {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 0px;
          flex: 1 1 0;
  background-color: #0c0b2a;
  border-radius: 40px;
  padding: 20px;
  border: 2px solid rgba(255, 255, 255, 0.5);
  -webkit-transition: -webkit-transform 0.8s ease-in-out;
  transition: -webkit-transform 0.8s ease-in-out;
  transition: transform 0.8s ease-in-out;
  transition: transform 0.8s ease-in-out, -webkit-transform 0.8s ease-in-out;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
}

.title_about {
  text-transform: uppercase;
  text-align: center;
}

.regular_about {
  font-size: 1.3rem;
  text-align: center;
}

/* works */
.works {
  position: relative;
  background-color: #0c0b2a;
}

.pillars {
  height: 100%;
  width: 100%;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.pillars__item {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.pillars__item:first-child {
  margin-left: 20px;
  overflow-y: hidden;
}

.pillars__item:last-child {
  margin-right: 20px;
  overflow-y: hidden;
}

.pillars__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 40px;
  margin-top: -5px;
  position: relative;
}

.pillars__line {
  position: relative;
  width: 3px;
  height: 100%;
  background-color: #ffffff;
  z-index: 1;
}

.works__inner {
  position: relative;
  z-index: 1;
  padding: 40px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.works__content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(375px, 500px))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(375px, 500px));
  grid-auto-rows: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  overflow-y: hidden;
  gap: 30px;
  margin-bottom: 20px;
}

.works__item {
  height: 300px;
  position: relative;
  background-color: #0c0b2a;
  border-radius: 30px;
}

.works__item img {
  height: 100%;
  border-radius: inherit;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

.works__item:hover img {
  opacity: 0.4;
}

.works__item:hover .works__text {
  opacity: 1;
}

.works__text {
  padding: 40px;
  position: absolute;
  opacity: 0;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
  text-align: center;
  background-color: rgba(4, 18, 63, 0.2);
  border-radius: 40px;
}

.works__text > *:first-child {
  margin-bottom: 10px;
}

.works__text > *:nth-child(2) {
  margin-bottom: 30px;
}

.subtitle_works {
  font-size: 2rem;
}

.btn_works {
  padding: 10px 20px;
  margin: 0 20px;
  border-radius: 40px;
  text-transform: none;
}

.btn_works:hover {
  padding: 10px 40px;
  margin: 0;
}

/* Tariff */
.tariff {
  border-top: 3px solid rgba(233, 231, 231, 0.7);
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(40%, #04123f), to(#0c0b2a));
  background-image: linear-gradient(bottom, #04123f 40%, #0c0b2a);
  padding: 40px 0;
}

.tariff__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}

.tariff__card {
  background-color: #0c0b2a;
  border-radius: 40px;
  border: 2px solid rgba(255, 255, 255, 0.5);
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}

.tariff__img {
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
  border-radius: 40px;
  height: 262px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.tariff__img img {
  border-radius: inherit;
}

.card__info {
  -ms-flex-preferred-size: 70%;
      flex-basis: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.description {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.1rem;
  list-style: disc inside;
  margin: 10px 0;
  line-height: 1.3rem;
}

.price {
  border: 2px solid white;
  width: 200px;
  padding: 20px;
  border-radius: 40px;
  margin-left: auto;
  font-size: 1.5rem;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  font-weight: 600;
  letter-spacing: 0.1rem;
}

/* Stages */
.stages {
  background-color: #04123f;
  padding-bottom: 40px;
}

.stages__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.stages__item {
  width: 220px;
  height: 250px;
  background-color: #0c0b2a;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 40px;
  -webkit-transition: -webkit-transform 1000ms ease-in-out;
  transition: -webkit-transform 1000ms ease-in-out;
  transition: transform 1000ms ease-in-out;
  transition: transform 1000ms ease-in-out, -webkit-transform 1000ms ease-in-out;
}

.stages__item:nth-child(odd) {
  -webkit-transform: translateY(-30%);
          transform: translateY(-30%);
}

.stages__item:nth-child(even) {
  -webkit-transform: translateY(30%);
          transform: translateY(30%);
}

.stages__background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  font-size: 12rem;
  text-align: center;
  opacity: 0.5;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.stages__text {
  position: relative;
  padding: 0 20px;
  -ms-flex-item-align: end;
      align-self: flex-end;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  height: 65px;
  text-align: center;
  font-size: 1.3rem;
  font-weight: 500;
}

/* Order */
.order {
  position: relative;
  overflow: hidden;
  background-color: #04123f;
}

.order__inner {
  position: relative;
  z-index: 1;
  margin: 50px 0;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.order__form {
  padding: 40px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 0px;
          flex: 1 1 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffffff;
}

.order__form .subtitle {
  margin-bottom: 50px;
  font-size: 2rem;
  text-align: center;
  font-weight: 600;
}

.order__form textarea {
  resize: none;
}

.order__item {
  border-radius: 20px;
  padding: 10px;
  font-size: 1.3rem;
  color: #000000;
  font-family: "Montserrat", sans-serif;
  line-height: 1;
  font-weight: 500;
  letter-spacing: 0.05em;
}

.order__item:not(:last-child) {
  margin-bottom: 50px;
  width: 100%;
}

.order__contacts {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 40%;
          flex: 0 1 40%;
  color: #000000;
  background-color: rgba(12, 11, 42, 0.2);
  padding: 20px;
  border-radius: 0 40px 40px 0;
}

.order__contacts .subtitle {
  color: #ffffff;
  margin-bottom: 50px;
  font-size: 2rem;
  text-align: center;
  font-weight: 600;
  padding: 10px;
}

.contact span {
  display: block;
  margin-top: 10px;
  font-weight: 600;
  font-size: 2rem;
  font-weight: normal;
}

.order__contact {
  font-size: 1.5rem;
  font-weight: 500;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px;
  border-radius: 20px;
}

.order__contact:not(:last-child) {
  margin-bottom: 40px;
}

.order__contact span {
  font-size: 1.5rem;
}

.order__contact span i {
  color: #000000;
}

/* questions */
.questions {
  background-color: #04123f;
  padding: 20px;
}

.questions__item {
  background-color: rgba(233, 231, 231, 0.3);
  border-radius: 30px;
  margin-bottom: 20px;
  cursor: pointer;
}

.questions__title {
  padding: 20px;
  padding-right: 90px;
  position: relative;
  background-color: rgba(233, 231, 231, 0.3);
  border-radius: inherit;
}

.arrow-questions {
  position: absolute;
  right: 20px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background-color: #e9e7e7;
  width: 50px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  -webkit-transition: -webkit-transform 500ms ease-in-out;
  transition: -webkit-transform 500ms ease-in-out;
  transition: transform 500ms ease-in-out;
  transition: transform 500ms ease-in-out, -webkit-transform 500ms ease-in-out;
}

.arrow-questions i {
  color: #0c0b2a;
  font-size: 1.7rem;
}

.rotate {
  -webkit-transform: translateY(-50%) rotate(180deg);
          transform: translateY(-50%) rotate(180deg);
}

.questions__details {
  padding: 20px;
  border-radius: 0 0 40px 40px;
  position: relative;
}

/* footer */
.footer {
  background: -webkit-gradient(linear, left top, left bottom, from(#04123f), to(#0c0b2a));
  background: linear-gradient(180deg, #04123f, #0c0b2a);
  overflow: hidden;
  padding: 20px;
}

.footer-contacts {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 20%;
          flex: 0 1 20%;
}

.footer__part:first-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 20px;
}

.footer__part:last-child {
  text-align: center;
  font-size: 1.5rem;
}

.footer__logo {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 20%;
          flex: 0 1 20%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 3rem;
  -ms-flex-item-align: center;
      align-self: center;
}

.footer__logo i {
  margin-right: 10px;
}

.footer-contact {
  font-size: 1.5rem;
}

.footer-contact:not(:last-child) {
  margin-bottom: 20px;
}

.footer-contact i {
  color: #ffffff;
}

.footer-contact__title {
  margin-bottom: 10px;
}

.footer-contact__link {
  color: inherit;
}

@media (max-width: 1650px) {
  .aside__item {
    display: none;
  }
  .works__aside {
    display: none;
  }
}

@media (max-width: 1305px) {
  .nav__item {
    margin: 2%;
  }
  .intro__inner {
    margin: 0;
  }
  .intro__inner .intro__img {
    display: none;
  }
}

@media (max-width: 1250px) {
  .headeer__inner .logo {
    -webkit-transition: all 0s;
    transition: all 0s;
    border-radius: 0;
  }
  .headeer__inner .nav__inner {
    -webkit-transition: all 0s;
    transition: all 0s;
    border-radius: 0;
  }
  .mechanism {
    display: none;
  }
}

@media (max-width: 970px) {
  .header {
    background-color: rgba(4, 18, 63, 0.8);
  }
  .header .logo__inner {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding: 10px;
  }
  .header .nav {
    -webkit-box-flex: 0;
        -ms-flex: 0;
            flex: 0;
  }
  .header .nav__inner {
    position: absolute;
    right: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.8);
    width: 100vw;
    height: 100vh;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: -webkit-transform 0.6s;
    transition: -webkit-transform 0.6s;
    transition: transform 0.6s;
    transition: transform 0.6s, -webkit-transform 0.6s;
    z-index: 3;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 10px;
  }
  .header .nav__inner--visible {
    -webkit-transform: none;
            transform: none;
  }
  .header .nav__inner--visible::after {
    display: block;
    width: 80%;
    bottom: 10px;
    margin: 10px auto;
    height: 1px;
  }
  .header .nav__item {
    padding: 0 10px;
    margin: 0 0 20px 0;
    border-bottom: solid white;
  }
  .header .nav__item:first-child {
    margin: 0;
  }
  .header .nav__item::after {
    background: 0;
    width: 0px;
    height: 0px;
  }
  .header .nav__item:last-child {
    margin: 0;
  }
  .header .nav__item:hover {
    cursor: pointer;
  }
  .logo {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 0px;
            flex: 1 1 0;
    padding: 0 20px;
  }
  .burger {
    /*display: -webkit-box;*/
    /*display: -ms-flexbox;*/
    /*-webkit-box-align: center;*/
    /*    -ms-flex-align: center;*/
    /*        align-items: center;*/
    /*-webkit-box-pack: center;*/
    /*    -ms-flex-pack: center;*/
    /*        justify-content: center;*/
    display: block;
  }
  .burger__inner--active {
    border: 0;
  }
  .burger__inner--active::before {
    top: 50%;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  .burger__inner--active::after {
    bottom: auto;
    top: 50%;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  .burger__inner--active .burger__line {
    opacity: 0;
  }
  .intro__inner {
    margin: 0;
  }
  .intro__img {
    display: none;
  }
  .stages__items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 20px;
  }
  .order {
    background: -webkit-gradient(linear, left bottom, left top, from(#04123f), to(#0c0b2a));
    background: linear-gradient(0deg, #04123f, #0c0b2a);
  }
  .order .background {
    display: none;
  }
  .order__inner {
    background: 0;
  }
  .order__form {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    margin: 0;
  }
  .order__contacts {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    background-color: transparent;
  }
}

@media (max-width: 750px) {
  .intro__text {
    min-width: 0px;
  }
  .about__img {
    display: none;
  }
}

@media (max-width: 725px) {
  .footer__part:first-child {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer__part:first-child > * {
    padding: 20px;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    width: 100%;
  }
  .footer__part:first-child > *:not(:last-child) {
    margin-bottom: 20px;
  }
  .footer__contact span {
    font-size: 1.5rem;
  }
  .footer__contact span i {
    color: #ffffff;
  }
}

@media (max-width: 375px) {
  .about__inner {
    padding: 0;
  }
  .about__text {
    border-radius: 0;
    border: 0;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  .order__contact span {
    font-size: 1.5rem;
  }
}

.example {
  display: -ms-grid;
  display: grid;
  -webkit-transition: all .5s;
  transition: all .5s;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background: -webkit-gradient(linear, left top, left bottom, from(white), to(black));
  background: linear-gradient(to bottom, white, black);
}
/*# sourceMappingURL=index.css.map */